.row
  #filters
    -MainHelper::Filters.each do |filter, options|
      =render partial:"filter", locals:{filter:filter, options:options}

    .col-sm-3
      =hidden_field_tag "random", nil, {id:"random_field"}
      %button#rand-btn.btn.btn-default.btn-sm{onclick:"$('#random_field').val('true'); $('#form').submit(); return false;"}
        I'm Feeling Lucky
