.col-sm-3
  .filter{:class => default_filter?(filter) ? "" : "filter-bold"}
    =succeed ":" do
      =filter.capitalize
    .btn-group
      %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data:{toggle:"dropdown"}}
        =get_filter(filter).gsub(/\(.*\)/,"")
        %span.caret
      %ul.dropdown-menu{role:"menu"}
        -options.each_with_index do |option, i|
          %li=fake_a(option)
          -if i == 0
            %li.divider

      =hidden_field_tag filter, get_filter(filter), {:class=>"dropdown-value", :id=>"filter-sort"}