.row
  #filters
    -MainHelper::Filters.each do |filter, options|
      .col-sm-3
        .filter{:class => default_filter?(filter) ? "" : "filter-bold"}
          =succeed ":" do
            =filter.capitalize
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data:{toggle:"dropdown"}}
              =get_filter(filter).gsub(/\(.*\)/,"")
              %span.caret
            %ul.filter-menu.dropdown-menu{role:"menu"}
              -options.each_with_index do |option, i|
                %li=fake_a(option)
                -if i == 0 || (i == 2 && filter == "term")
                  %li.divider

            =hidden_field_tag filter, params[filter], {:class=>"dropdown-value", :id=>filter}

    .col-sm-3
      =hidden_field_tag "rand", nil, {id:"random_field"}
      %button#rand-btn.btn.btn-default.btn-sm{onclick:"$('#random_field').val('true'); $('#form').submit(); return false;"}
        I'm Feeling Lucky
