.row
  #filters
    .col-sm-3
      %button.btn.btn-default.btn-sm
        I'm feeling lucky
    .col-sm-3
      .filter
        Credits:
        .btn-group
          %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data:{toggle:"dropdown"}}
            Any
            %span.caret
          %ul.dropdown-menu{role:"menu"}
            %li
              %a Any
            %li.divider
            %li
              %a 1-2
              %a 3-4
              %a 5+
    .col-sm-3
      .filter
        Term:
        .btn-group
          %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data:{toggle:"dropdown"}}
            Either
            %span.caret
          %ul.dropdown-menu{role:"menu"}
            %li
              %a Any
            %li.divider
            %li
              %a Fall
              %a Spring
    .col-sm-3
      .filter
        Sort:
        .btn-group
          %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data:{toggle:"dropdown"}}
            Course #
            %span.caret
          %ul.dropdown-menu{role:"menu"}
            %li
              %a Course #
              %a Start time (Early to late)
              %a Start time (Late to early)
              %a Class size (Small to large)