.row
  #filters
    .col-sm-3
      .filter
        Credits:
        .btn-group
          %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data:{toggle:"dropdown"}}
            =get_filter("credits")
            %span.caret
          %ul.dropdown-menu{role:"menu"}
            %li
              %a Any
            %li.divider
            %li
              %a 1-2
              %a 3-4
              %a 5+
          =hidden_field_tag "credits", get_filter("credits"), {:class=>"dropdown-value"}
    .col-sm-3
      .filter
        Term:
        .btn-group
          %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data:{toggle:"dropdown"}}
            =get_filter("term")
            %span.caret
          %ul.dropdown-menu{role:"menu"}
            %li
              %a Any
            %li.divider
            %li
              %a Fall
              %a Spring
          =hidden_field_tag "term", get_filter("term"), {:class=>"dropdown-value"}
    .col-sm-3
      .filter
        Sort:
        .btn-group
          %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data:{toggle:"dropdown"}}
            =get_filter("sort").gsub(/\(.*\)/,"")
            %span.caret
          %ul.dropdown-menu{role:"menu"}
            %li
              %a Course #
              %a Start time (early to late)
              %a Start time (late to early)
              %a Class size (small to large)
          =hidden_field_tag "sort", get_filter("sort"), {:class=>"dropdown-value"}
    .col-sm-3
      =hidden_field_tag "random", nil, {id:"random_field"}
      %button#rand-btn.btn.btn-default.btn-sm{onclick:"$('#random_field').val('true'); $('#form').submit(); return false;"}
        I'm Feeling Lucky
