%table.table.table-striped.table-condensed.table-bordered#schedule
  %thead
    %tr
      %th M
      %th T
      %th W
      %th R
      %th F
  %tbody
    -20.times do
      %tr
        %td
        %td
        %td
        %td
        %td