#splash-space

#splash
  %a.enormous{href:"./"}
    skedge
  .sub
    a scheduling system for the u of r

.splash-hr
%hr.half
.splash-container
  .row
    .splash-options
      .col-md-4.lead
        %a{href:"#depts", onclick:"splashtoggle('#departments');"} departments
      .col-md-4.lead
        %a{href:"#", onclick:"$('#search-input').focus(); splashtoggle(null); return false;"} search
      .col-md-4.lead
        %a{href:"#about", onclick:"splashtoggle('#info');"} about

#info
  .row
    %p.info-text
      %strong skedge
      is a clone of the
      =succeed "." do
        %a{href:"https://cdcs.ur.rochester.edu/"} university of rochester cdcs
      it has all of the same courses and data, but aims to display it in a more organized and user-friendly way. skedge offers:
    %ul.info-text
      %li simplified search, that shows courses for both terms
      %li grouped course sections
      %li embedded labs, recitations, and workshops
      %li clickable course mentions & instructors 
      %li easy, live-updating schedule sharing
      %li.text-danger
        please remember that you cannot register for courses using skedge
        %strong (!)
      %li{style:"color:gray"}
        /%a{href:"#", onclick:"$(this).parent().hide(); $('.more').show(); return false;"} 
        \& more coming soon...
      .more
        %li desired courses -> different schedule options
        %li autocomplete search w/ add btn in autocomplete box
        %li compare yr schedule with a friend's & see mutual free time      

    .credits
      %p
        a
        %a{href:"http://rochack.org"} rochack
        project
      %p
        made by
        %a{href:"http://danhassin.com"} dan
      %p
        =bracket_link("source", "https://github.com/RocHack/skedge")
        =bracket_link("feedback", "#", onclick:"prepareModal(); return false;", data:{toggle:"modal", target:"#bug-modal"})
        =render partial:"ticket"

    %p.info-text
      %a{href:"#", onclick:"$('#transfer-stuff').show(); $(this).hide(); return false;"} using skedge across computers?
    %p.info-text#transfer-stuff{style:'display:none'}
      %small
        -if s=cookies['s_id']
          %strong this account's key is:
          =s.split("&").last
          %br
        %strong change your account key:
        %input.form-control#transfer{style:"width:300px; display:inline-block; margin-left:2px;"}
        %button.btn.btn-default{onclick:"transfer();"} go

#departments.cols
  -@depts.each do |dept|
    -if true#!dept.courses.empty?
      .dept
        %a
          %strong
            %a{href:"/?q=#{dept.short}"}= dept.short
        ="-"
        =dept.name

:javascript
  var hash = window.location.hash;
  if (hash == "#about")
    splashtoggle('#info');
  else if (hash == "#depts")
    splashtoggle('#departments');
  else
    splashtoggle(null);

