#splash-space

#splash
  %a.enormous{href:"./"}
    skedge
  -#.info-link
    %a{href:"info"} info
  .sub
    a scheduling system for the u of r

.splash-hr
%hr.half
.splash-container
  .row
    %h2.splash
      -#explore the ur curriculum
  .row
    .splash-options
      .col-md-4.lead
        %a{href:"#depts", onclick:"splashtoggle('#departments');"} departments
      .col-md-4.lead
        %a{href:"#", onclick:"$('#search-input').focus(); splashtoggle(null); return false;"} search
      .col-md-4.lead
        %a{href:"#about", onclick:"splashtoggle('#info');"} about

#info
  .row
    %p.info-text
      %strong skedge
      is a clone of the
      =succeed "." do
        %a{href:"https://cdcs.ur.rochester.edu/"} university of rochester cdcs
      it has all of the same courses and data, but aims to display it in a more organized and user-friendly way. skedge offers:
    %ul.info-text
      %li simplified search, that shows courses for both terms
      %li grouped course sections
      %li embedded labs, recitations, and workshops
      %li clickable course mentions & instructors 
      %li better schedule sharing
      %li
        %a{href:"#", onclick:"$(this).parent().hide(); $('.more').show(); return false;"} & more coming soon...
      .more
        %li desired courses -> different schedule options
        %li autocomplete search w/ add btn in autocomplete box
        %li compare yr schedule with a friend's & see mutual free time
        %li download for ical/google calendar etc
    %p.info-text
      please remember that you cannot register for courses with skedge (!)

    .credits
      %p
        a
        %a{href:"http://rochack.org"} rochack
        project
      %p
        made by
        %a{href:"http://danhassin.com"} dan
      %p
        =bracket_link("source", "https://github.com/RocHack/skedge")
        =bracket_link("feedback", "#", onclick:"prepareModal(); return false;", data:{toggle:"modal", target:"#bug-modal"})
        =render partial:"ticket"

#departments.cols
  -@depts.each do |dept|
    -if true#!dept.courses.empty?
      .dept
        %a
          %strong
            =inline_form(dept.short)
        ="-"
        =dept.name

:javascript
  var hash = window.location.hash;
  if (hash == "#about")
    splashtoggle('#info');
  else if (hash == "#depts")
    splashtoggle('#departments');
  else
    splashtoggle(null);

