-if !subcourses.empty?
  .subcourses
    .subcourse-show
      %a{href:"#", onclick:"$(this).parent().parent().find('.subcourse-data').show(); $(this).parent().hide(); return false;"} 
        %strong
          Show
          =subcourses.size
          =name
          =subcourses.size == 1 ? "section" : "sections"
    %div.subcourse-data{:style=>"display:none"}
      %p
        %strong
          =name.capitalize
          sections:
        %a{href:"#", onclick:"$(this).parent().parent().parent().find('.subcourse-show').show(); $(this).parent().parent().hide(); return false;"} 
          (hide)
      %div{:class => should_split_cols(subcourses) ? "cols" : ""}
        %table
          -subcourses.each do |lab|
            -lab = lab.decorate
            %tr
              %td.middle.center
                %button.btn.btn-sm.lab-btn{type:"button", :class => "#{lab.can_enroll? ? "btn-primary" : "disabled full"}"}
                  =lab.button_text(name.titleize)
              %td.lab-info
                .info
                  =lab.time_and_place
                .info
                  =lab.enroll_ratio
                  students are enrolled
          -if should_split_cols(subcourses) && subcourses.size.odd? #add extra if odd to align the columns
            %tr
              %td.lab-info