.modal.fade#bug-modal{tabindex:"-1", role:"dialog", aria:{labelledby:"modal-label", hidden:true}}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type:"button", :class=>"close", data:{dismiss:"modal"}, aria:{hidden:"true"}}
          &times;
        %h2.modal-title#modal-label
          skedge
        %p.bigger
          Bugs? Questions? Suggestions?
      =form_for :ticket, url:{action: :new, controller: :ticket}, html:{id:"modal-form"}, remote:true do |f|
        .modal-body.m-body
          #modal-alert.alert.alert-danger{style:"display:none;"}
            %strong Please enter something!
          =f.text_field :email, :class=>"form-control email-field", placeholder:"Email (optional)", id:"modal-email"
          =f.text_area :contents, :class=>"form-control", rows:"3", placeholder:"Comments", id:"modal-contents"
        .modal-footer
          %button{type:"button", :class=>"btn btn-default", data:{dismiss:"modal"}} Close
          =f.submit "Submit", :class=>"btn btn-primary", :id => "modal-submit"
