#main
  .container
    .row
      .col-md-8
        .row
          .col-md-3

            -#LOGO
            %a.logo{href:"/"}
              %h1.logo
                skedge
              %small.subtitle
                better better cdcs
            %p.rochack
              a
              %a{href:"http://rochack.org"} rochack
              project

          -#SEARCHBAR
          .col-md-9
            =form_tag("/", method:"post", id:"form") do 
              .input-group
                %input.form-control#search-input{name:"query", type:"search", placeholder:"CSC / CSC 171 / Science of Programming", value:"#{@query}"}
                .input-group-addon
                  %span.glyphicon.glyphicon-search
            .row
              .col-md-10
                =render partial:"filters"

        -#RESULTS
        .row
          .col-md-12
            -if !@query
              %p.lead
                Use the search above, or explore departments:
              .cols.depts
                -@depts.each do |dept|
                  -if !dept.courses.empty?
                    .dept
                      %a
                        %strong
                          =inline_form(dept.short)
                      ="-"
                      =dept.name
            -else
              .search-results
                Found
                =@courses.size
                unique
                ="course#{@courses.size == 1 ? "" : "s"}"
                in
                ="#{(Time.now-@start_time).round(3)} seconds."
              -@courses.each do |course|
                =render partial:"course", locals: {course: course.decorate}
           
      -#SCHEDULE   
      .col-md-4 
        =render partial:"schedule"