#main
  .container
    .row
      .col-md-8
        .row
          .col-md-3
            %h1
              skedge
              %br
              %small
                %p.sub better better cdcs
          .col-md-9
            =form_tag("/", method:"post", id:"form") do 
              .input-group#search
                %input.form-control#search-input{name:"query", type:"search", placeholder:"CSC 172 / CSC / Science of Programming"}
                .input-group-addon
                  %span.glyphicon.glyphicon-search
            .row
              .col-md-10

                %table#filter-table
                  %tr
                    %td.middle
                      %h5 Filter:
                    %td.middle
                      Start time:
                      .btn-group
                        %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data_toggle:"dropdown"}
                          All
                          %span.caret
                        %ul.dropdown-menu{role:"menu"}
                          %li
                            %a Action0
                            %a Action1

                      %span.filter-label Class size:
                      .btn-group
                        %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data_toggle:"dropdown"}
                          Any
                          %span.caret
                        %ul.dropdown-menu{role:"menu"}
                          %li
                            %a Small (0-15)
                            %a Medium (16-40)
                            %a Large (41-80)

                      %span.filter-label Fits in my schedule
                      .btn-group.filter.filter-dd
                        %input{type:"checkbox"}
                  %tr
                    %td.middle
                      %h5 Sort:
                    %td.middle
                      By:
                      .btn-group
                        %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data_toggle:"dropdown"}
                          Course number
                          %span.caret
                        %ul.dropdown-menu{role:"menu"}
                          %li
                            %a Start time
                            %a Students enrolled

                      %span.filter-label
                      %button.btn.btn-link.btn-xs Dependency Graph™

            %hr.hr-filter

        .row
          .col-md-12
            -@courses.each do |course|
              .box
                %p.lead
                  =surround "CSC", ": #{course}" do
                    %span.cnum 171
                  %button.btn.btn-success.enroll{type:"button"} Add Course
                %p.info
                  %strong Time:
                  M/W 2:30 - 4:30pm
                  %span.sp2
                  %strong Place:
                  %a MEL
                  203
                %p.info
                  %strong Instructors:
                  %a Pawlicki, T
                %p.desc
                  An introduction to the technology, design and science of web programming. This course will cover the base material needed to create and deploy secure, usable database-driven web applications - including topics selected from programming, networking, databases, security, and usability. Specific technologies and languages covered will include HTML, Javascript, Document Object Model (DOM), PHP, MySQL, Ruby on Rails, XML, AJAX, and Flash.

                .num-enrolled
                  .progress
                    .progress-bar.progress-bar-success{role:"progressbar", style:"width: 20%"}
            
                .progress-num
                  %small 20/100 enrolled
      .col-md-4
        #schedule
        
     
  .container
    .row
      .col-md-2.col-md-offset-10
        %footer
          %p
          a
          %a rochack
          project