.row
  .col-md-8
    
    %form(method="get" id="form")
      .bar
        .row.top-margin
          =render partial:"logo"
          
          -#SEARCHBAR
          -#.col-md-10{style:"background-color:blue;"}
          #search-group
            .input-group
              %input.form-control#search-input.searcher{name:"q", type:"text", placeholder:"CSC / CSC 171 / Science of Programming", value:"#{@query}"}
              %span.input-group-btn
                %button#search-btn.searcher{type:"submit", :class=>"btn btn-default"}
                  %span.glyphicon.glyphicon-search

          #skedge-btn
            %button.btn.btn-default{onclick:"show_skedge(); return false;", href:"#"}
              Schedule
      .row
        .col-md-2
        .col-md-10              
          =render partial:"filters"

    -#RESULTS
    .row
      .col-md-12
        -if !@courses
          =render partial:"splash"
        -elsif @courses.empty?
          %hr
          %p.lead.no-results
            No results found.
        -else
          .search-results
            .search-info
              Found
              =Array(@courses).count
              ="course#{@courses.size == 1 ? "" : "s"}"
              -if @capped
                (capped)
              in
              %span#render-time
            -prev = nil
            -@courses.each do |course|
              -if !prev || prev != course.decorate.term_and_year
                %h2.term-header{style: prev ? "padding-top:40px" : ""}
                  =prev=course.decorate.term_and_year
                
              =render partial:"course", locals: {course: course.decorate}
       
  -#SCHEDULE   
  .col-md-4
    .fixed
      .row
        .sk-top
          

          .dropdown.sk-selector
            %a#current-skedge.dropdown-toggle{data:{toggle:"dropdown"}}
            %span.caret{style:'margin-bottom:4px; display:none;'}
        
          .top-btns
            %a.share#share-link{target:"_blank", style:"display:none"}
              %button.btn.btn-default
                Share
            .btn-group.center.download{style:"display:none"}
              %button.btn.btn-default.dropdown-toggle{type:"button", data:{toggle:"dropdown"}}
                Download
                %span.caret
              %ul.dropdown-menu{role:"menu"}
                %li
                  %a{href:"#", onclick:"render_ics()"} Export to Calendar
                %li
                  %a#download-img{target:"_blank" }
                    Image
            %button.bkmks.btn.btn-default.right#toggle-btn{href:"#", onclick:"toggleSide(); return false;"}
              Bookmarks
              
      .bk{style:"display:none"}
        .panel.panel-default.bk-panel
          .panel-heading
            %h3.panel-title My Bookmarks
          .b-b
            %table.table.table-hover.book-table
              %tbody.bookies
          .panel-footer.center.bk-footer
            / %button.btn.btn-primary{href:"#", onclick:"toggleSide(this); return false;"}
            /   Fit into my schedule
            / %button.btn.btn-primary{href:"#", onclick:"toggleSide(this); return false;"}
            /   Generate schedules
      .sk
        =render partial:"schedule", locals: {side:true}

:javascript
  $(document).ready(function () {
    load_user(#{@user_json}, #{@rid});
    compute_buttons();
    
    $('#form').submit(function()
    {
      if ($('#random_field').val() != "true")
        $('#random_field').remove();

      if ($('#credits').val() == 0)
        $('#credits').remove();

      if ($('#term').val() == 0)
        $('#term').remove();

      if ($('#sort').val() == 0)
        $('#sort').remove();

      return true;
    });
  });
