#main
  .container
    .row
      .col-md-8
        .row
          .col-md-3
            %a.logo{href:"/"}
              %h1
                skedge
                %br
              %small.subtitle
                better better cdcs
            %p.rochack
              a
              %a{href:"http://rochack.org"} rochack
              project
          .col-md-9
            =form_tag("/", method:"post", id:"form") do 
              .input-group.top-margin-35
                %input.form-control#search-input{name:"query", type:"search", placeholder:"CSC 172 / CSC / Science of Programming", value:"#{params[:query]}"}
                .input-group-addon
                  %span.glyphicon.glyphicon-search
            .row
              .col-md-10
                =render partial:"filters"
        .row
          .col-md-12
            -@courses.each do |course|
              =render partial:"course", locals: {course: course}
              
      .col-md-4 
        =render partial:"schedule"
        
     
    .row
      .col-md-2.col-md-offset-10
        %footer
          