(function() {
  var ReactUpdate = React.addons.update;
  var Button = ReactBootstrap.Button;

  window.Facebook = React.createClass({
    mixins: [Reflux.connect(SKScheduleStore, "store")],

    getInitialState: function () {
      return {
        fb_id: null,
        requests: this.props.requests,
        shareUsers: this.props.shareUsers,
        requested: this.props.requested,
        publicFriends: [],
        friends: []
      };
    },

    componentDidMount: function() {
      // So it can be accessed by the SDK
      window.afterLogIn = this.checkLoginState;
      var self = this;

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '538742782963492',
          xfbml      : true,
          version    : 'v2.5'
        });

        self.checkLoginState();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    },

    checkLoginState: function () {
      var self = this;
      FB.getLoginStatus(function(response) {
        console.log(response.status);
        if (response.status == 'connected') {
          //The person is logged into Facebook, and has logged into your app
          var id = response.authResponse.userID;

          $.post("fb_register_user", {"id":id}, function (response) {
            SKScheduleAction.loadUser(response);
            self.setState({
              requests: response.requests,
              shareUsers: response.shareUsers,
              requested: response.requested
            });
          });

          self.setState({fb_id:id});

          self.getFriendsList();
        }
        else if (response.status == 'not_authorized') {
          //The person is logged into Facebook, but has not logged into your app.
        }
        else if (response.status == 'unknown') {
          //The person is not logged into Facebook, so you don't know if they've logged into your app
        }
      });
    },

    getFriendsList: function() {
      var self = this;
      FB.api("/me/friends",
        function (response)
        {
          if (response && !response.error) {
            self.setState({friends:response.data});

            window.FBFriends = response.data;
            window.FBID2Name = {};
            for (var i = 0; i < response.data.length; i++) {
              var user = response.data[i];
              window.FBID2Name[user.id] = user.name;
            };

            var event = new CustomEvent("gotFriendsList");
            document.dispatchEvent(event);

            $.get('fb_get_public_sharing_friends', {friends: response.data}, function (resp) {
              self.setState({publicFriends: resp.friends});
            })
          }
        }
      );
    },

    sendRequest: function(friend) {
      var self = this;
      $.post("fb_share_request", {a:this.state.fb_id, b: friend.id}, function (data) {
        self.setState({
          requested: data.requested
        });
      });
    },

    acceptRequest: function(req) {
      console.log(req);

      var self = this;
      $.post('fb_share_confirm', {sr_id:req.id}, function (data) {
        var index = self.state.requests.indexOf(req);
        self.setState({
          requests: ReactUpdate(self.state.requests, {$splice: [[index, 1]]}),
          shareUsers: data.shareUsers
        });
      });
    },

    unshare: function(friend_id) {
      var self = this;
      $.post("fb_unshare", {nonfriend: friend_id}, function (data) {
        self.setState({shareUsers: data.shareUsers});
      });
    },

    renderSchedules: function(user) {
      return user.schedules.map(function (sch) {
        return (~
          %a(key={sch} href={sch})
            {sch}
        ~);
      });
    },

    miniSchedule: function (user, buttonFunc, buttonTitle) {
      var schedule = user.schedules[0];
      var button = !buttonFunc ? null : (~
        %Button.share-request-btn.mini-btn(onClick={buttonFunc})
          {buttonTitle}
      ~);
      var yrTerm = (~
        %a(href={"/"+schedule.rid})
          {schedule.term}
          {schedule.year}
      ~);
      return (~
        .friend-box(key={user.fb_id})
          .row
            %FacebookUser(id={user.fb_id} lineUnderneath={yrTerm})
            {button}
          .row
            %Schedule(schedule={schedule} mini={true})
      ~);
    },

    render: function() {
      if (!this.props.visible) {
        return null;
      }

      var self = this;

      var loginButton = (~
        .fb-login-button(data-max-rows="1"
                         data-size="large"
                         data-show-faces="true"
                         data-onlogin="afterLogIn();"
                         scope="user_friends"
                         data-auto-logout-link="true")
      ~);

      if (!this.state.fb_id || !window.FBID2Name) {
        return (~
          .social-container
            {loginButton}
        ~);
      }

      var requests = null;
      if (this.state.requests && this.state.requests.length > 0) {
        reqs = this.state.requests.map(function (req) {
          return (~
            .(key={req.id})
              %FacebookUser(id={req.from})
              %Button(onClick={self.acceptRequest.bind(self, req)}) Accept Share Request
          ~);
        });
        requests = (~
          .
            %h3 Requests
            {reqs}
        ~);
      }

      var shares = null;
      if (this.state.shareUsers && this.state.shareUsers.length > 0) {
        var users = this.state.shareUsers.map(function (user) {
          return self.miniSchedule(user, self.unshare.bind(self, user.fb_id), "Unshare schedules");
        });
        shares = (~
          .
            %h3 Users sharing their schedules with you
            {users}
        ~);
      }

      var publics = null;
      var publicFriends = !this.state.publicFriends ? null : this.state.publicFriends.filter(function (friend) {
        var s = self.state.shareUsers && self.state.shareUsers.some(function (sf) { return sf.fb_id == friend.fb_id; });
        return !s;
      });

      if (publicFriends && publicFriends.length > 0) {
        var users = publicFriends.map(function (user) {
          return self.miniSchedule(user);
        });
        publics = (~
          .
            %h3 Users with public schedules
            {users}
        ~);
      }

      var others = null;
      var otherFriends = this.state.friends.filter(function (friend) {
        var p = self.state.publicFriends && self.state.publicFriends.some(function (pf) { return pf.fb_id == friend.id; });
        var s = self.state.shareUsers && self.state.shareUsers.some(function (sf) { return sf.fb_id == friend.id; });
        return !p && !s;
      });
      if (otherFriends.length > 0) {
        var users = otherFriends.map(function(friend) {
          var haveRequest = self.state.requests.find(function (req) {
            return (req.from == friend.id);
          });

          if (haveRequest) {
            right = (~
              %Button.share-request-btn(onClick={self.acceptRequest.bind(self, haveRequest)}) Accept Share Request
            ~);
          }
          else {
            var alreadyRequested = self.state.requested.some(function (req) {
              return (req.to == friend.id);
            });

            if (alreadyRequested) {
              right = (~
                .
                  Request sent
              ~);
            }
            else {
              right = (~
                %Button.share-request-btn(onClick={self.sendRequest.bind(self, friend)}) Request to Share Schedules
              ~);
            }
          }
          return (~
            .(key={friend.id})
              %FacebookUser(id={friend.id})
              {right}
          ~);
        });
        others = (~
          .
            %h3 Users you can request...
            {users}
        ~);
      }

      return (~
        .social-container
          {loginButton}

          .
            {requests}

          .
            {shares}
            {publics}
            {others}
      ~);
    }
  })
})();