(function() {
  window.Facebook = React.createClass({
    mixins: [Reflux.connect(SKScheduleStore, "store")],

    getInitialState: function () {
      return {fb_id: null};
    },

    componentDidMount: function() {
      // So it can be accessed by the SDK
      window.afterLogIn = this.checkLoginState;
      var self = this;

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '538742782963492',
          xfbml      : true,
          version    : 'v2.5'
        });

        self.checkLoginState();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    },

    checkLoginState: function () {
      var self = this;
      FB.getLoginStatus(function(response) {
        console.log(response.status);
        if (response.status == 'connected') {
          //The person is logged into Facebook, and has logged into your app
          var id = response.authResponse.userID;

          $.post("fb_register_user", {"id":id}, function (response) {
            SKScheduleAction.loadUser(response);
          });

          self.setState({fb_id:id});
        }
        else if (response.status == 'not_authorized') {
          //The person is logged into Facebook, but has not logged into your app.
        }
        else if (response.status == 'unknown') {
          //The person is not logged into Facebook, so you don't know if they've logged into your app
        }
      });
    },

    shareSchedules: function() {
      var self = this;
      FB.api("/me/friends",
        function (response)
        {
          if (response && !response.error) {
            console.log("pick:");
            response.data.map(function(user) {
              console.log(user);
              console.log("making Request to share schedules with "+user.name);
              $.post("fb_share_request", {a:self.state.fb_id, b: user.id});
            })
          }
        }
      );
    },

    render: function() {
      var requests = null;

      return (~
        .
          .fb-login-button(data-max-rows="1" data-size="large" data-show-faces="true" data-auto-logout-link="false" data-onlogin="afterLogIn();" scope="user_friends" data-auto-logout-link="true")

          %button.btn.btn-default(onclick="shareSchedules();") Share Schedules with Friends

          Requests:
          {requests}
      ~);
    }
  })
})();