(function() {
  var Button = ReactBootstrap.Button;
  window.MiniSchedule = React.createClass({
    getInitialState: function() {
      return {
        overlay: false
      };
    },

    overlay: function() {
      ahoy.track("$overlay", {
        show: !this.state.overlay, 
        mini: true, 
        page_rid:this.refs.schedule.rid, 
        user_rid:this.props.userSchedule.rid
      });

      this.setState({overlay:!this.state.overlay});
      this.refs.schedule.toggleOverlayUserSchedule();
    },

    render: function() {
      var schedule = this.props.user.schedules[0]; //TODO

      var button = !this.props.buttonFunc ? null : (~
        %a.block-link(href="#" onClick={this.props.buttonFunc})
          %small
            {this.props.buttonTitle}
      ~);
      var yrTerm = (~
        %a.block-link(href={"/"+schedule.rid})
          {schedule.term}
          {schedule.year}
      ~);
      var compare = (~
        %Button.mini-compare.mini-btn(onClick={this.overlay}) Compare schedules
      ~);
      return (~
        .friend-box
          .row
            %FacebookUser(id={this.props.user.fb_id} linesUnderneath={[compare, yrTerm, button]} size=60 width=350)
          .row
            %Schedule(schedule={schedule} mini={true} userSchedule={this.props.userSchedule} ref="schedule")            
      ~);
    }
  });
})();