(function() {
  window.SocialLogin = React.createClass({
    getInitialState: function () {
      return {
        showFootnote: false
      };
    },

    showFootnote: function () {
      this.setState({showFootnote: true});
    },

    render: function() {
      var self = this;

      var style = this.props.hide ? {display:"none"} : null;
      return (~
        .social-login(style={style})
          .row
            .login-button-container
              .fb-login-button(data-max-rows="1"
                               data-size="xlarge"
                               data-show-faces="true"
                               data-onlogin="afterLogIn();"
                               scope="user_friends"
                               data-auto-logout-link="false")


          .row
            .social-login-text-features-header
              Connect Skedge with Facebook to:

          .row.social-login-text-features
            .col-md-3
              %i.fa.fa-mobile.social-login-icon
              %i.fa.fa-refresh.social-login-icon
              %i.fa.fa-laptop.social-login-icon
              .
                Keep your schedule synced across devices
            .col-md-3
              %i.fa.fa-calendar-check-o.social-login-icon
              .
                Keep up to date with your friends’ schedules
            .col-md-3
              %i.fa.fa-thumbs-o-up.social-login-icon
              .
                See friends next to classes they’ve added or liked
            .col-md-3
              %i.fa.fa-lock.social-login-icon
              .
                Control privacy settings by choosing friends you want to share with

          .row
            .col-md-3
            .col-md-6
              .social-login-never-text
                Skedge will 
                %strong
                  {" never"}
                %ul.social-login-never-list
                  %li Post to Facebook without your permission
                  %li
                    Keep or store
                    %strong= {" any "}
                    of your Facebook data on its servers, not even your name
                    {" "}
                    %a(href="#" onClick={this.showFootnote} hidden={this.state.showFootnote})
                      %small
                        [how?]
                    .fb-footnote(hidden={!this.state.showFootnote})
                      %small
                        Skedge only stores an anonymous ID (uniquely generated for Skedge by Facebook) per account.
                        Only a user’s name and list of friends also using Skedge are accessible via this ID,
                        and Skedge doesn’t even store this in its database –– your own browser looks them up every
                        time they are displayed. That’s why there’s some delay each time!
                        %a.fb-check-source(href="https://github.com/RocHack/skedge")
                          [You can check the source code!]
      ~);
    }
  })
})();