(function() {
  var Button = ReactBootstrap.Button;

  window.SocialSettings = React.createClass({
    render: function() {
      var self = this;

      return (~
        .
          Settings...
      ~);
    }
  })
})();