(function() {
  var Button = ReactBootstrap.Button;

  window.SocialSettings = React.createClass({
    getInitialState: function() {
      return {
        privacy: this.props.privacy
      };
    },

    changePrivacy: function (option) {
      this.setState({privacy: option});

      var self = this;
      $.post("fb_change_privacy", {option: option}, function (data) {
        $('#saved').attr('hidden', false);
        $('#saved').show();
        $('#saved').delay(750).fadeOut(500);
      });
    },

    render: function() {
      var self = this;

      return (~
        .social-settings
          %h4 Privacy settings:
          .radio
            %label
              %input(type="radio" name="privacy" checked={this.state.privacy == 0} onChange={this.changePrivacy.bind(this, 0)})
                Share my schedule and likes with all my friends
          .radio
            %label
              %input(type="radio" name="privacy" checked={this.state.privacy == 1} onChange={this.changePrivacy.bind(this, 1)})
                Share my schedule and likes only with friends I first approve
          #saved(hidden={true}) Saved.
      ~);
    }
  })
})();