.row
  .col-md-2
    =render partial:"logo"
    .options
      %p options
      %p options
      %p options
  .col-md-10
    -if @schedule
      =render partial:"schedule", locals: {side:false}
    -else
      .center
        No schedule found