.show-container
  .row
    -if !current_user && !@seen_alert
      .alert.alert-warning.alert-dismissible
        %button.close(type="button" data-dismiss="alert" name="dismiss-alert" onClick="document.cookie='seen_alert=true; domain=.skedgeur.com';")
          %span &times;
        %strong Hello!
        Skedge is a student-made alternative to CDCS. Try it out by
        %a(href="http://#{request.subdomain == "www" ? "" : "www."}skedgeur.com/") adding your own courses to it,
        and then come back to this page to compare schedules side-by-side.

    = react_component 'FullSchedule', schedule:reactify_schedule(@schedule),
                                      userSchedule:reactify_schedule(@user_schedule)