.row
  .col-md-2
    =render partial:"logo", locals: {float:false}

    .skedge-info
      -if @schedule
        %p
          =@schedule.description
        %p
          =@schedule.total_credits
          credits
        -if @my_schedule != @schedule
          %a{href:"#", onclick:"load_courses(#{@schedule.enrollments.to_json}); return false;"}
            %button.btn.btn-default.s-option-btn{href:"#"}
              Compare schedules!              
          
  .col-md-10.screenshot
    .big-schedule
      =render partial:"schedule", locals: {side:false, exists:@schedule.presence}

:javascript
  $(document).ready( function() {
    load_courses(#{@schedule.enrollments.to_json});
    #{do_image_update}
    //show();
  });