.login-button-container
{
  margin-bottom: 50px;
  margin-left: 100px;
  text-align: center;
}

.fb-footnote
{
  margin-top: 5px;
  line-height: 1em;
}

.fb-check-source
{
  display: block;
  margin-top: 5px;
}

.social-login
{
  margin-top: 20px;
  font-size: 16px;
}

.social-login-sign-up
{
  font-size: 30px;
  text-align: center;
}

.social-login-icon
{
  margin-left: 3px;
  margin-right: 3px;
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.fa-refresh.social-login-icon
{
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 6px;
  vertical-align: middle;
}

.social-login-never-text
{
  margin-top: 40px;
  font-size: 18px;
}

.social-login-never-list
{
  margin-top: 5px;
  font-size: 16px;
}

.social-login-text-features
{
  text-align: center;
  font-size: 16px;
  width: 90%;
  margin-left: 5%;
}

.fa-calendar-check-o.social-login-icon,
.fa-thumbs-o-up.social-login-icon
{
  font-size: 23px;
  margin-left: 5px;
  margin-right: 5px;
}

.social-login-text-features-header
{
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  margin-left: 50px;
}