*[hidden] { display: none; }

/************************/

.label-new
{
  font-size: 13px;
  top: 30px;
  right: -25px;
  position: absolute;
}

.label-friends
{
  font-size: 11px;
  font-weight: 500;
  top: 67px;
  right: -20px;
  position: absolute;
}

.triangle1 {
  position: absolute;
  top: 61px;
  right: 18px;

  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
}

.triangle2 {
  position: absolute;
  top: 62px;
  right: 19px;

  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #5cb85c;
}


.badge.badge-notifications
{
  background: red;
  position: absolute;
  top: 37px;
  right: 0px;
}

.social-splash
{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 4em;
  font-family: 'Pontano Sans', sans-serif;
  letter-spacing: -0.05em;
  color: gray;
  text-align: center;
  display: inline-block;
}

.social-splash > .fa-globe
{
  font-size: 50px;
  margin-right: 10px;
}

.social-callout-body
{
  /*background-color: rgba(255, 255, 0, 0.14);*/
}

#social-callout-tryit
{
  margin-top: 10px;
}

#social-callout-dismiss
{
  margin-top: 10px;
  float: right;
}

.social-callout-icons
{
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.social-callout-icons > i
{
  margin-left: 20px;
  margin-right: 20px;
}

.gps-container
{
  position: relative;
}

.gps-ring {
  border: 3px solid #999;
  border-radius: 60px;
  height: 36px;
  width: 36px;
  position: absolute;
  left:-7px;
  top:-41px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.0;
}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.4, 0.4); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.searchbar-globe
{
  text-align: center;
  margin-left: 10px;
  margin-right: -10px;
}

.social-btn
{
  float: right;
  height: 50px;
  font-size: 25px;
}

/************************/

.fb-myself
{
  display: inline-block;
  height: 50px;
  margin-left: 50px;
  padding-top: 5px;
}

.logout.fb-login-button
{
  margin-top: 5px;
  display: block;
}

/************************/

.social-head
{
  text-align: center;
}

.social-contents
{
  margin-top: 30px;
  margin-left: 20px;
}

.social-container
{
  margin-top: 100px;
  margin-bottom: 50px;
}

.social-none
{
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
}

/************************/

.facebook-user
{
  text-align: left;
}

.fbimg
{
  float: left;
  margin-right: 8px;
}

.float-left
{
  float: left;
}

.mini-btn
{
  float: right;
}

.block-link
{
  display: block;
}

/************************/

li.margin-tab
{
  margin-right: 10px;
}

.nav-badge
{
  margin-left: 8px;  
  margin-bottom: 2px;
  padding-right: 8px;
  padding-top: 4px;
  float: right;
}

.social-tab-schedules
{
  padding-left: 10px;
  padding-right: 10px;
}

.social-toggle-likes-schedule
{
  float: left;
  font-size: 15px;
  margin-top: 6px;
}

.social-loading
{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

.social-loading > .fa
{
  margin-right: 10px;
}