// Empty on purpose -
// the React component is already being included in layouts/main.haml
// (since FB initialization needs to happen on every page), just the
// Social controller sets a variable to make it visible