(function() {
  var Button = ReactBootstrap.Button;
  var Tooltip = ReactBootstrap.Tooltip;
  var OverlayTrigger = ReactBootstrap.OverlayTrigger;
  var Popover = ReactBootstrap.Popover;

  window.SearchBarBadge = React.createClass({
    mixins: [Reflux.connect(SKSocialStore, "social")],

    clickSocial: function (dismiss) {
      ahoy.track("$click",{name:"social-globe", badge:this.state.social.requests.length});
      document.cookie = "social_popup=true;"
      document.location = "/social";
    },

    render: function() {
      if (mobilecheck()) {
        return null;
      }

      var badge = (this.state.social.requests.length == 0) ? null : (~
        %span.badge.badge-notifications
          {this.state.social.requests.length}
      ~);

      var callout = (~
        .(hidden={true})
          #social-callout
            .social-callout-body
              .social-callout-icons
                %i.fa.fa-refresh
                %i.fa.fa-calendar-check-o
                %i.fa.fa-thumbs-o-up
                %i.fa.fa-lock
              %strong Connect Skedge with Facebook!
              %p
                – Sync your schedule across devices
                %br
                – See what your friends are taking!
              %Button#social-callout-tryit(bsStyle='primary')
                Try it or learn more!
              %Button#social-callout-dismiss
                Dismiss
      ~);

      var subtlerCalloutStuff = !this.state.social.ready || this.state.social.loggedIn ? null : (~
        %span
          .gps-container
            .gps-ring
          .label.label-danger.label-small
            New!
      ~);

      return (~
        .
          {callout}
          %Button.social-btn(bsStyle="link" onClick={this.clickSocial})
            %i.fa.fa-globe.searchbar-globe(data-container="body"
                                           data-toggle="popover"
                                           data-placement="bottom"
                                           data-trigger="manual")
            {badge}
            {subtlerCalloutStuff}
      ~);
    }
  });
})();