/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require bootstrap
 *= require_tree .
 *= require_self
 */

/* General */
.inline
{
  display:inline;
}

.right-margin-20
{
  margin-right:20px;
}

.left-margin-5
{
  margin-left:5px;
}

.left-margin-20
{
  margin-left:20px;
}

.top-margin-35
{
  margin-top:35px;
}

.middle
{
  vertical-align: middle;
}

.filter-bold
{
  font-weight: 500;
}

p
{
  margin-bottom:0px;  
}

p.lead
{
  margin-bottom: 4px;
}

body
{
  font-weight: 200;
}

strong
{
  font-weight: 500;
}

#main
{
  margin-top: 35px;
  width: 90%;
}


/* "Logo" */
small.subtitle
{
  font-size: 1.9em;
  line-height:15px;
  color: gray;
}

.credits
{
  font-size: 0.9em;
  min-height: 38px;
  float: right;
  text-align: right;
}

h1.logo
{
  line-height:0.9em;
  font-size: 3.2em;
  margin-bottom: 10px;
  margin-top: 17px;
  text-align: center;
  letter-spacing: -2px;
  font-weight: 400;
  color: #5C5C5C;
}

.logo-panel
{
  padding-bottom: 10px;
}

a.logo:link, a.logo:visited, a.logo:hover, a.logo:active
{
  text-decoration: none;
  color: black;
}

a.bookmark:active
{
  color:#1D4466;
}
