.box
{
  margin: auto;
  width: 97%;

  margin-top: 30px;
  margin-bottom: 25px;
}

p.desc
{
  margin-top: 5px;
}

.add-course-btn
{
  margin-top: 10px; 
  min-width: 140px;
  margin-right: 10px;
}

.closed.btn-primary
{
  background-color: #6589A8;
  border-color: #54728C;
}

.closed.btn-primary:hover
{
  background-color: #4A657B;
}

.closed.btn-danger
{
  background-color: #BD4944;
  border-color: #A33F3B;
}

.closed.btn-danger:hover
{
  background-color: #9B3C38;
}


/*.cancelled-btn
{
  width: 10px;
}*/

td.course-btn
{
  width: 155px;
}

.lab-btn
{
  text-align: center;;
  margin-right: 7px;
  margin-bottom: 3px;
  display: block;
}

.hidden
{
  display:none;
}

.lab-info
{
  height: 50px;
  vertical-align: middle;
}

.subcourse
{
  margin-top: 10px;
}

.subcourses
{
  margin-top: 10px;
}

p.info
{
  margin-top: 10px;
}

.wide
{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 2px;
}

.course-details
{
  margin-top: 8px;
}

.bookmark
{
  font-size: 3em;
  float: right;
  margin-right: 0px;
  margin-top: -25px;
  color:#EFEFEF;
  opacity: clear;
}

/* Course num, like in CSC **173** */
.cnum
{
  font-weight: 500;
  margin-left: 4px;
}

.cancelled
{
  opacity: 0.55;
  /*color: #B1B1B1;*/
}

.full
{
  width:calc(100% - 7px);
}


/* PROGRESS BAR */

/* enroll progress bar */
.progress
{
  margin-top: 10px;
  margin-right: 10px;
  height:2px;
  width: 72%;
  float:left;
  margin-bottom: -5px;
}

/* the number (5/20 enrolled) */
.progress-num
{
  display: inline-block;
  width:20%;
}

.progress-bar-closed
{
  background-color:#9B9B9B;
}
