// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cnum
{
  font-weight: 500;
  margin-left: 3px;
}

.sp2
{
  margin-left:20px;
}

.filter-label
{
  margin-left:10px;
}

.progress-num
{
  display: inline-block;
  width:20%;
}
.progress
{
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  height:2px;
  width: 95%;
  float:left;
}

#filter-table
{
  margin-top: 15px;
}

hr.hr-filter
{
  margin-bottom: 45px;
}

.middle
{
  vertical-align: middle;
}

.num-enrolled
{
  width:80%;
}

.enroll
{
  margin-left: 15px;
}

p
{
	margin-bottom:0px;  
}

p.filter
{
  margin-top: 20px;
}

p.lead
{
  margin-bottom: 4px;
}

body
{
  font-weight: 200;
}

strong
{
  font-weight: 500;
}

#schedule
{
  position: relative;
  width: 100%;
  height: 0;
  margin-top:35px;
  padding-bottom: 100%;
  background-color: silver;
  border-radius: 5px;
}

.filter
{
  display: inline-block;
}

h5
{
  margin-right: 10px;
  padding-bottom: 4px;
}

.filter-dd
{
  margin-left: 5px;
}

#search
{
  margin-top:35px;
  height: 50px;
}

#search-input
{
  font-size: 20px;
    height: 50px;
}

h1 > small
{
  line-height:18px;
}

#main
{
  margin: 15px;
}

p.desc
{
  margin-top:5px;
  margin-bottom: 5px;
}

.box
{
  float:clear;
  margin-left: 20px;
  width: 100%;

  margin-bottom: 60px;
}

footer
{
  text-align:right;
  margin:20px;
  padding-right:20px;
}