// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* General */
.inline
{
  display:inline;
}

.right-margin-20
{
  margin-right:20px;
}

.left-margin-5
{
  margin-left:5px;
}

.left-margin-20
{
  margin-left:20px;
}

.top-margin-35
{
  margin-top:35px;
}

.middle
{
  vertical-align: middle;
}

p
{
  margin-bottom:0px;  
}

p.lead
{
  margin-bottom: 4px;
}

body
{
  font-weight: 200;
}

strong
{
  font-weight: 500;
}

#main
{
  margin-top:35px;
}

.cols
{
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;
}

#depts
{
  -moz-column-gap:5px; /* Firefox */
  -webkit-column-gap:5px; /* Safari and Chrome */
  column-gap:5px;

  padding-bottom: 30px;
  padding-top: 10px;

  display: none;
}

.full
{
  width:calc(100% - 7px);
}

.center
{
  text-align: center;
}

.search-info
{
  text-align: right;
  font-size: 0.85em;
  padding-bottom: 0px;
}

.search-results
{
  padding-bottom: 80px;
}

.bigger
{
  font-size: 1.3em;
}

.m-body
{
  margin-bottom: 0;
  padding-bottom: 0;   
}

.email-field
{
  margin-bottom: 10px;
}

textarea
{
  resize:vertical;
  margin-bottom: 10px;
}

/* "Logo" */
small.subtitle
{
  font-size: 1.9em;
  line-height:15px;
  color: gray;
}

.credits
{
  font-size: 0.9em;
  min-height: 38px;
  float: right;
  text-align: right;
}

h1.logo
{
  line-height:0.9em;
  font-size: 3.2em;
  margin-bottom: 10px;
  margin-top: 0px;
}

.logo-panel
{
  padding-bottom: 10px;
}

a.logo:link, a.logo:visited, a.logo:hover, a.logo:active
{
  text-decoration: none;
  color: black;
}

a.bookmark:active
{
  color:#1D4466;
}


/* PROGRESS BAR */

/* enroll progress bar */
.progress
{
  margin-top: 10px;
  margin-right: 10px;
  height:2px;
  width: 72%;
  float:left;
  margin-bottom: -5px;
}

/* the number (5/20 enrolled) */
.progress-num
{
  display: inline-block;
  width:20%;
}

.progress-bar-closed
{
  background-color:#9B9B9B;
}

/* FILTER STUFF */

#filters
{
  padding-top: 11px;
  padding-bottom: 10px;
  text-align: center;
}

.filter
{
  margin-top: 5px;
}

#filters .btn-group
{
  margin-left: 3px;
}

#filters .col-sm-3
{
  margin-bottom: 6px;
}

#search-input
{
  font-size: 20px;
  height: 50px;
}

#search-btn
{
  background-color:#EEEEEE;
  height: 50px; 
}

ul
{
  text-align: left;
}

.no-results
{
  text-align: center;
  padding-top: 50px;
}

/* SCHEDULE */

#schedule
{
  margin-left:20px;
  width: 30%;
  height: 88%;
  position: fixed;
  border-radius: 5px;
  text-align: center;
}

th
{
  text-align: center;
  height: 10px;
}

/* COURSE BOXES */
.box
{
  margin: auto;
  width: 97%;

  margin-top: 30px;
  margin-bottom: 25px;
}

p.desc
{
  margin-top: 5px;
}

.add-course-btn
{
  margin-top: 10px; 
  width: 140px;
}

/*.cancelled-btn
{
  width: 10px;
}*/

td.course-btn
{
  width: 155px;
}

.lab-btn
{
  margin-right: 7px;
}

.hidden
{
  display:none;
}

.lab-info
{
  height: 50px;
  vertical-align: middle;
}

.subcourse
{
  margin-top: 10px;
}

.subcourses
{
  margin-top: 10px;
}

p.info
{
  margin-top: 10px;
}

.wide
{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 2px;
}

.course-details
{
  margin-top: 8px;
}

.bookmark
{
  font-size: 3em;
  float: right;
  margin-right: 0px;
  margin-top: -25px;
  color:#EFEFEF;
  opacity: clear;
}

/* Course num, like in CSC **173** */
.cnum
{
  font-weight: 500;
  margin-left: 4px;
}

.cancelled
{
  opacity: 0.55;
  /*color: #B1B1B1;*/
}

.course-credits
{
  float:right;
  margin-right: 18px;
  margin-left: 5px;
  margin-top: 0px;
  font-size: 0.9em;
}

.splash-container
{
  text-align: center;
}

.splash
{
  font-weight: 200;
}

.splash-hr
{
  padding-bottom: 20px;
}

hr.half
{
  width: 70%;
}

.info-text
{
  font-size: 1.2em;
}

#info
{
  margin-left: 15px;
  margin-right: 15px;
}

small.splash
{
  font-weight: 100;
  color:gray;
}

#bug-modal
{
  text-align: left;
}