.fixed
{
  position: fixed;
  width: 27%;
  margin-left:20px;
  height: 88%;
}

.side
{
  width: 100%;
  height: 100%;
}

.s-full
{
  height: 700px;
}

.schedule
{
  border-radius: 5px;
  text-align: left;
}

th
{
  text-align: center;

  height: 20px;
  width: 20%;
}

.org
{
  background-color:rgb(254, 155, 0);
}

.prp
{
  background-color:rgb(205, 12, 126);
}

.blu
{
  background-color:rgb(23, 185, 250);
}

.grn
{
  background-color:rgb(27, 207, 17);
}

.time
{
  width: 30px;
  text-align: right;
  margin-left: -45px;
  margin-top: -15px;
  font-size: 0.9em;
}

.skedge
{
  position: relative;
  height: 100%;
}

.day-table
{
  margin-bottom: 0px;
}

.s-block
{
  position: absolute;
}

.s-block > p
{
  color: white;
  margin: 5px;
}