.options
{
  margin-top: 20px;
}

.fixed
{
  position: fixed;
  width: 27%;
  margin-left:30px;
  margin-top:10px;
  height: 81%;
}

.side
{
  width: 100%;
  height: 100%;
}

.s-full
{
  height: 800px;
}

.schedule
{
  text-align: left;
  margin-bottom: 0px;
}

th
{
  text-align: center;

  height: 20px;
  width: 20%;
}

.time
{
  width: 30px;
  text-align: right;
  margin-left: -45px;
  margin-top: -15px;
  font-size: 0.9em;
}

.skedge
{
  position: relative;
  height: 100%;
}

.day-table
{
  margin-bottom: 0px;
}

.s-block
{
  position: absolute;
  box-shadow:inset 1px 1px 5px rgba(0,0,0,0.2);
  border-style:solid;
  border-width: 0px;
  border-color: rgba(0,0,0,0.2);
  opacity: 0.63;
  overflow: hidden;
  border-radius: 7px;

  z-index: 5;
}

.s-block:hover
{
  opacity: 0.75;
}

.wrapper
{
  width: 100%;
  height: 100%;
  position: relative;
}

.s-side
{
  display: table;  
}

.s-block-p
{
  text-align: left;
  color: white;
  text-shadow: rgba(0,0,0,0.4) 0em 0em 0.15em;
  margin: 2px 8px 2px 8px;
  font-size: 1.2em;
}

.s-side > .s-block-p
{
  display: table-cell; 
  vertical-align: middle;
  text-align: center;
  font-weight: 300;
  line-height: 1.1em;
}

.s-big > .s-block-p
{
  margin: 5px 8px 2px 8px;
}

.s-big > .s-block-p > .s-block-dept, .s-block-cnum, .s-block-type
{
  display: inline;
}

.s-block-type
{
  text-transform:uppercase;
}

.s-block-cnum
{
  font-weight: 400;
}

.s-block-dept
{
  font-weight: 300;
}

.s-block-title
{
  text-align: left;
  margin: 3px 0 0 0;
  font-size: 13.5px;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.25em;
}

.s-block-time
{
  float:right;
  opacity: 0.85;
  margin-top:1px;
  font-size: 12px;
}

.s-block-type
{
  font-size: 13px;
}

a.s-block
{
  display: block;
}

a.s-block:hover
{
  text-decoration: none;
}

.popover-content
{
}

@media (max-width: 1200px) {
  .s-block-time
  {
    display: none;
  }
}

@media (max-width: 640px) {
  .s-block-title
  {
    display: none;
  }
  .s-big
  {
    display: table;  
  }
  .s-big > .s-block-p
  {
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
    font-weight: 300;
    line-height: 1.1em;
  }
  .s-big > .s-block-p > .s-block-dept, .s-block-cnum, .s-block-type
  {
    display: block;
  }
}

.sk
{
  height: 100%;
}

.popover-instructors
{
  color: #A8A8A8;
}

.popover-desc
{
  margin-top:5px;
}

.p-title
{
  font-weight: 300;
  color: #3A3A3A;
}

.popover-credits
{
  font-weight: 300;
  float: right;
  color: #A8A8A8;
}

.popup-skedge
{
  z-index: 60;
  background-color: white;
  position: fixed;
  top: 94px;
  width: 90%;
  height: 90%;
}

.bk-panel
{
  height: 100%;
}

.bk
{
  position: relative;
  height: 100%;
}

.bk-footer
{
  position: absolute;
  bottom: 1px;
  width:100%;
  height: 55px;
}

.b-b
{
  position: absolute;
  height: calc(100% - 80px);
  margin: 0;
  width:100%;
  overflow: scroll;
}

.check-td
{
  width:20px;
}

.b-check
{
  margin-left: 5px;
  margin-top: 7px;
}

.b-close
{
  margin-top: 8px;
  margin-right: 7px;
}

.b-a
{
  display: block;
}

.b-a:hover
{
  text-decoration: none;
}

.b-body
{
  color: black;
}

/*******/

.no-skedge
{
  text-align: center;

  font-size: 3em;
  color: gray;

  position: absolute;
  left: 50%;
  top: 31%;
  width: 600px;
  margin-left: -300px;
}

.white
{
  background-color: white;
}

.big-schedule
{
  margin-left: 15px;
  margin-right: 5%;
}

.top-btns
{
  text-align: justify;
}

.top-btns:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

.share
{
  display: inline-block;
}

.download
{
  display: inline-block;
}

.bkmks
{
  display: inline-block;
}
