.fb-myself
{
  display: inline-block;
  height: 50px;
  margin-left: 50px;
  padding-top: 5px;
}

.fb-footnote
{
  margin-top: 5px;
  line-height: 1em;
}

.fb-check-source
{
  display: block;
  margin-top: 5px;
}

.social-login
{
  margin-top: 20px;
  font-size: 16px;
}

.social-login-sign-up
{
  font-size: 30px;
  text-align: center;
}

.social-login-icon
{
  margin-left: 3px;
  margin-right: 3px;
  font-size: 26px;
}

.fa-refresh.social-login-icon
{
  font-size: 15px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.social-login-never-text
{
  margin-top: 50px;
}

.social-login-never-list
{
  margin-top: 5px;
  font-size: 14px;
}

.social-login-text-features
{
  padding-left: 0px;
  list-style: none;
  text-align: center;
  font-size: 16px;
}

.fa-arrow-right
{
  margin-left: 10px;
}

.social-login-text-features > li
{
  margin-bottom: 20px;
}

.fa-calendar-check-o.social-login-icon,
.fa-check-square-o.social-login-icon,
.fa-thumbs-o-up.social-login-icon,
.fa-rss.social-login-icon
{
  font-size: 23px;
  margin-left: 5px;
  margin-right: 5px;
}

.social-login-text-features-header
{
  text-align: center;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
}

.social-none
{
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
}

.social-contents
{
  margin-top: 30px;
  margin-left: 20px;
}

.social-container
{
  margin-top: 100px;
  margin-bottom: 50px;
}

.login
{
  margin-bottom: 80px;
}

.logout.fb-login-button
{
  margin-top: 5px;
  display: block;
}

.friend-box
{
  display: inline-block;
  margin-left: 20px;
  margin-right: 55px;
  margin-bottom: 20px;
  margin-top: 10px;

  min-height: 450px;
}

.mini-schedule
{
  width: 300px;
  margin-left: 30px;
}

.skedge-mini
{
  height: 300px;
}

.mini-compare
{
  margin-left: 5px;
}

.social-toggle-icon
{
  margin-right: 5px;
}

.fbimg
{
  float: left;
  margin-right: 8px;
}

.float-left
{
  float: left;
}

.facebook-user
{
  text-align: left;
}

.mini-btn
{
  float: right;
}

.block-link
{
  display: block;
}

.social-request-sent
{
  width: 200px;
}

.badge.badge-notifications
{
  background:red;
  position:relative;
  top: -10px;
  left: -10px;
}

h3.social-heading
{
  margin-top: 20px;
  margin-bottom: 15px;
}

.social-splash
{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 4em;
  font-family: 'Pontano Sans', sans-serif;
  letter-spacing: -0.05em;
  color: gray;
  text-align: center;
  display: inline-block;
}

.social-splash > .fa-globe
{
  font-size: 50px;
  margin-right: 10px;
}

.social-head
{
  text-align: center;
}

.accept-info
{
  width: 300px;
  font-size: 12px;
  margin-top: 5px;
}

.share-request-box
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.results-social-header
{
  margin-top: 15px;
  font-size: 30px;
  font-family: 'Pontano Sans', sans-serif;
  letter-spacing: -0.05em;
  color: gray;
}

.results-social
{
  margin-left: 25px;
}

.results-social-box
{
  margin-left: 15px;
}

.results-social-box-header
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #525252;
  font-weight: 500;
}

.results-social-globe
{
  font-size: 23px;
  margin-right: 8px;
}

.results-social-icon
{
  font-size: 18px;
  margin-right: 5px;
}

.results-social-user
{
  margin-right: 30px;
  margin-bottom: 10px;
  display: inline-block;
}

.results-social-none
{
  margin-left: 30px;
  font-size: 16px;
  color: gray;
}

.results-social-box-like
{
  margin-bottom: 10px;
}

.results-social-like
{
  display: block;
  margin-top: 5px;
  font-weight: 500;
  color: gray;
}

.results-social-like:hover
{
  color: black;
}

.results-social-icon-like
{
  font-size: 20px;
  margin-right: 8px;
}

.social-settings-header
{
  margin-top: 30px;
  font-size: 20px;
}

.social-settings > .radio
{
  margin-left: 10px;
}

#saved
{
  color: green;
}

.unconnected-public-text
{
  line-height: 14px;
}

li.margin-tab
{
  margin-right: 10px;
}

.nav-badge
{
  margin-left: 8px;  
  margin-bottom: 2px;
  padding-right: 8px;
  padding-top: 4px;
  float: right;
}

.social-tab-schedules
{
  padding-left: 10px;
  padding-right: 10px;
}

.social-toggle-likes-schedule
{
  float: left;
  font-size: 15px;
  margin-top: 6px;
}

.mini-yrterm
{
  float: left;
  margin-top: 5px;
  font-size: 16px;
}

.mini-controls
{
  margin-top: 5px;
  margin-bottom: 3px;
}

.social-unshare
{
  margin-top: 3px;
  color: gray;
}

.social-unshare > .fa
{
  margin-right: 4px;
}

.mini-course-list-header
{
  margin-top: 10px;
  font-size: 16px;
}

.mini-course-list
{
  display: table; /* works, dont ask why */
  margin-left: 10px;
}

.social-loading
{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

.social-loading > .fa
{
  margin-right: 10px;
}