.fb-myself
{
  display: inline-block;
  height: 50px;
  margin-left: 40px;
  padding-top: 5px;
}

.fb-footnote
{
  margin-top: 5px;
  line-height: 1em;
}

.fb-check-source
{
  display: block;
  margin-top: 5px;
}

.social-login
{
  margin-top: 50px;
  font-size: 16px;
}

.social-login-text
{
  font-size: 18px;
}

.social-no-friends
{
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
}

.social-container
{
  margin-top: 100px;
  margin-bottom: 50px;
}

.login
{
  margin-bottom: 50px;
}

.logout.fb-login-button
{
  margin-top: 5px;
  display: block;
}

.friend-box
{
  display: inline-block;
  margin-left: 10px;
  margin-right: 100px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.mini-schedule
{
  width: 300px;
  margin-left: 30px;
}

.skedge-mini
{
  height: 300px;
}

.mini-compare
{
  margin-top: 3px;
}

.fbimg
{
  float: left;
  margin-right: 8px;
}

.float-left
{
  float: left;
}

.facebook-user
{
  text-align: left;
}

.mini-btn
{
  float: right;
}

.block-link
{
  display: block;
}

.badge.badge-notifications
{
  background:red;
  position:relative;
  top: -10px;
  left: -10px;
}

h3.social-heading
{
  margin-top: 20px;
  margin-bottom: 15px;
}

.social-splash
{
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 4em;
  font-family: 'Pontano Sans', sans-serif;
  letter-spacing: -0.05em;
  color: gray;
  text-align: center;
  display: inline-block;
}

.social-head
{
  text-align: center;
}

.accept-info
{
  width: 300px;
  font-size: 12px;
  margin-top: 5px;
}

.share-request-box
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.results-social-header
{
  margin-top: 15px;
  font-size: 30px;
  font-family: 'Pontano Sans', sans-serif;
  letter-spacing: -0.05em;
  color: gray;
}

.results-social
{
  margin-left: 20px;
}

.results-social-box
{
  margin-left: 10px;
}

.results-social-box-header
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.results-social-globe
{
  font-size: 23px;
  margin-right: 8px;
}

.results-social-icon
{
  font-size: 20px;
  margin-right: 5px;
}

.results-social-user
{
  margin-right: 30px;
  margin-bottom: 10px;
  display: inline-block;
}

.results-social-none
{
  margin-left: 30px;
}

.results-social-box-like
{
  margin-bottom: 10px;
}

.results-social-like
{
  display: block;
  margin-top: 5px;
  font-weight: 500;
  color: gray;
}

.results-social-icon-like
{
  margin-right: 8px;
}
