.splash-container
{
  text-align: center;
}

.splash-content
{
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 0px;
  text-align: left;
  font-weight: 300;
}

.splash-hr
{
  margin-top: 40px;
}

hr.half
{
  width: 70%;
  margin-bottom: 8px;
  margin-top: 5px;
}

.info-text
{
  font-size: 18px;
  margin-bottom: 5px;
}

/* SEARCH */

ul.search-options
{
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
}

.search-options li
{
  margin-bottom: 5px;
}

/* DEPARTMENTS */

.dept-heading
{
  font-weight: 300;
  margin-bottom: 20px;
}

.depts-page:last-child
{
  margin-bottom: 50px;
}

/* INFO */

.bracket-link
{
  margin: 0 2px 0 2px;
}

.credits
{
  margin-top: 15px;
  font-size: 15px;
  line-height: 12px;
  float: right;
  text-align: right;
}

.splash-space
{
  height: 75px;
}

#info
{
  margin-left: 15px;
  margin-right: 15px;
  display: none;
  margin-top: 20px;

  padding-bottom: 50px;
}

small.splash
{
  font-weight: 300;
  color:gray;
}

.splash-options
{
  margin: auto;
  margin-top: 25px;
  width: 80%;
}

.enormous
{
  font-family: 'Pontano Sans', sans-serif;
  margin-top: 40px;
  position: relative;
  font-size: 7em;
  letter-spacing: -0.05em;
  opacity: 0.72;
  text-align: center;
  line-height: 1.2em;
  font-weight: 300;
}

.sub
{
  font-family: 'Pontano Sans', sans-serif;
  opacity: 0.6;
  letter-spacing: -1.5px;
  font-size: 2.5em;
  line-height: 0.9em;
  text-align: center;
  color: black;
  font-weight: 300;
}

.info-link
{
  font-size: 24px;
  letter-spacing: -1px;
  z-index: 999;
  text-align: center;
  margin-left: 310px;
  margin-top: -25px;
  line-height: 20px;
}


.more
{
  display: none;
  color: #A1A1A1;
}

a.enormous:link, a.enormous:visited, a.enormous:hover, a.enormous:active
{
  text-decoration: none;
  color: inherit;
  display: block;
}

@media (max-width: 768px) {
  .enormous
  {
    padding-top: 25px;
    font-size: 70px;
  }

  #splash-space
  {
    height: 5px;
  }

  .sub
  {
    font-size: 30px;
  }

  .lead
  {
    font-size: 25px;
  }

  .splash-content
  {
    margin: 10px;
  }
}




/*  Animations    */

.splash-space.transition-enter {
  height: 0px;
}

.splash-space.transition-enter.transition-enter-active {
  height: 75px;
  transition: height 300ms;
}

.splash-space.transition-leave {
  height: 75px;
}

.splash-space.transition-leave.transition-leave-active {
  height: 0px;
  transition: height 300ms;
}

/**/

.splash-search.transition-enter {
  height: 0px;
  opacity: 0;
}

.splash-search.transition-enter.transition-enter-active {
  height: 285px;
  opacity: 1;
  transition: height 300ms, opacity 300ms;
}

.splash-search.transition-leave {
  height: 285px;
  opacity: 1;
}

.splash-search.transition-leave.transition-leave-active {
  height: 0px;
  opacity: 0;
  transition: height 300ms, opacity 300ms;
}

/**/

.fade-enter {
  opacity: 0.1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 100ms;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.1;
  transition: opacity 100ms;
}



