.course-credits
{
  float:right;
  margin-right: 18px;
  margin-left: 10px;
  margin-top: 0px;
  font-size: 0.9em;
}

.splash-container
{
  text-align: center;
}

.splash
{
  font-weight: 200;
}

.splash-hr
{
  padding-bottom: 40px;
}

hr.half
{
  width: 70%;
  margin-bottom: 8px;
  margin-top: 5px;
}

.info-text
{
  font-size: 1.2em;
  margin-bottom: 5px;
}


#departments
{
  -moz-column-gap:5px; /* Firefox */
  -webkit-column-gap:5px; /* Safari and Chrome */
  column-gap:5px;

  padding-bottom: 30px;

  display: none;

  margin-top: 20px;
}

#splash-space
{
  height: 80px;
}

#info
{
  margin-left: 15px;
  margin-right: 15px;
  display: none;
  margin-top: 20px;

  padding-bottom: 50px;
}

small.splash
{
  font-weight: 100;
  color:gray;
}

.splash-options
{
  margin: auto;
  margin-top: 25px;
  width: 80%;
}

.enormous
{
  margin-top: 30px;
  position: relative;
  font-size: 7em;
  letter-spacing: -0.05em;
  opacity: 0.72;
  text-align: center;
  line-height: 1.2em;
}

.sub
{
  opacity: 0.6;
  letter-spacing: -1.5px;
  font-size: 2.5em;
  line-height: 0.9em;
  text-align: center;
  color: black;
}

.info-link
{
  font-size: 24px;
  letter-spacing: -1px;
  z-index: 999;
  text-align: center;
  margin-left: 310px;
  margin-top: -25px;
  line-height: 20px;
}


.more
{
  display: none;
  color: #A1A1A1;
}

a.enormous:link, a.enormous:visited, a.enormous:hover, a.enormous:active
{
  text-decoration: none;
  color: inherit;
  display: block;
}
