.bigger
{
  font-size: 1.3em;
}

.m-body
{
  margin-bottom: 0;
  padding-bottom: 0;   
}

.email-field
{
  margin-bottom: 10px;
}

textarea
{
  resize:vertical;
  margin-bottom: 10px;
}

#bug-modal
{
  text-align: left;
}