%a.s-block.pop{href:"#", style:course_style(day,s.time_in_hours(:start)-10,s.duration,!side) + "background-color:#{color};", data:{toggle:"popover", content:s.popover_content, original:{title:s.popover_title}, placement:"auto"}}
  .wrapper
    .s-block-p
      .s-block-huge
        -if !side
          .s-block-time=s.time(false)
          =precede s.course.department.short do
            %span.s-block-cnum= s.course.num
        -else
          .center
            .s-block-head
              =s.course.department.short
              .s-block-cnum= s.course.num
            .s-block-details=s.course.name
          
      -if !side
        .s-block-name=s.course.name