%a.s-block#template{href:"#", style:"display:none", data:{placement:(!side ? "auto right" : "top"), trigger:"hover", html:"true"}}
  .wrapper{:class => side ? "s-side" : "s-big"}
    .s-block-p
      -if !side
        .s-block-time
      .s-block-dept
      .s-block-cnum
      .s-block-type
      -if !side
        .s-block-title

%table.table.day-table
  %thead
    %tr#days
    %tr.schedule-row#hour-row{style:"display:none"}
      %td
        .time
.skedge
  %table.table.table-condensed.courses.schedule{:class=>(side ? "side" : "s-full")}
    %tbody#hour-rows
    -if !side && !exists      
      .no-skedge
        schedule not found