%a.s-block.pop{href:"#", id:"template", style:"display:none", data:{placement:"right auto", html:"true"}}
  .wrapper
    .s-block-p
      .s-block-huge
        -if !side
          .s-block-time#s-block-time Time
          %span#s-block-dept CSC
          %span#s-block-cnum 200
        -else
          .center
            .s-block-head
              %span#s-block-dept CSC
              %span#s-block-cnum 200
            .s-block-details#s-block-title Programming
          
      -if !side
        .s-block-name#s-block-title Programming

%table.table.day-table
  %thead
    %tr
      %th M
      %th T
      %th W
      %th R
      %th F 
.skedge
  #courses
  %table.table.table-condensed.courses.schedule{:class=>(side ? "side" : "s-full")}
    %tbody
      -11.times do |t|
        %tr.schedule-row        
          %td
            .time
              =((t+9) % 12)+1
          %td
          %td
          %td
          %td

-if schedule
  -schedule.sections.each_with_index do |s, i|
    :javascript
      c = #{s.decorate.data}
      add_course(#{s.time_in_hours(:start)-10},#{s.duration},c,#{side});


