%table.table.table-condensed.courses.yo#schedule{:class=>(side ? "side" : "s-full")}
  %thead
    %tr
      %th.time-header
      %th M
      %th T
      %th W
      %th R
      %th F
  %tbody
    -15.times do |t|
      %tr.schedule-row
        %td.time
          .time-thing
            =((t+8) % 12)+1
        %td{:class => t > 5 && t < 9 ? "class grn" : ""}
          -if t == 6
            .overhead.start-00
          .class-contents
            -if t == 6
              MTH 150
          -if t == 8
            .undercontainer
              .underfoot.end-30
        %td{:class => t > 3 && t < 7 ? "class blu" : ""}
          -if t == 4
            .overhead.start-30
              .line
          .class-contents
            -if t == 4
              CSC 173
          -if t == 6
            .undercontainer
              .underfoot.end-00
        %td{:class => t > 2 && t < 6 ? "class org" : ""}
          -if t == 3
            .overhead.start-00
          .class-contents
            -if t == 3
              REL 234
          -if t == 5
            .undercontainer
              .underfoot.end-40
        %td{:class => t > 3 && t < 7 ? "class blu" : ""}
          -if t == 4
            .overhead.start-30
              .line
          .class-contents
            -if t == 4
              CSC 173
          -if t == 6
            .undercontainer
              .underfoot.end-00
        %td{:class => t > 1 && t < 5 ? "class prp" : ""}
          -if t == 2
            .overhead.start-40
              .line
          .class-contents
            -if t == 2
              SMTH 123
          -if t == 4
            .undercontainer
              .underfoot.end-30