%table.table.day-table
  %thead
    %tr
      %th M
      %th T
      %th W
      %th R
      %th F 
.skedge
  -if schedule
    -schedule.sections.each_with_index do |s, i|
      -s.days.chars.each do |day|
        =render partial:"block", locals:{day:day, s:s.decorate, color:color(i), side:side}
              
  %table.table.table-condensed.courses.schedule{:class=>(side ? "side" : "s-full")}
    %tbody
      -11.times do |t|
        %tr.schedule-row        
          %td
            .time
              =((t+9) % 12)+1
          %td
          %td
          %td
          %td