%a.s-block#template{href:"#", style:"display:none", data:{placement:(!side ? "right auto" : "top"), html:"true"}}
  .wrapper{:class => side ? "s-side" : "s-big"}
    .s-block-p
      -if !side
        .s-block-time
      .s-block-dept
      .s-block-cnum
      .s-block-type
      -if !side
        .s-block-title

%table.table.day-table
  %thead
    %tr
      %th M
      %th T
      %th W
      %th R
      %th F 
.skedge
  #courses
  %table.table.table-condensed.courses.schedule{:class=>(side ? "side" : "s-full")}
    %tbody
      -12.times do |t|
        %tr.schedule-row        
          %td
            .time
              =((t+8) % 12)+1
          %td
          %td
          %td
          %td

