%div{:class=>(side ? "fixed" : "")}
  %table.table.day-table
    %thead
      %tr
        %th M
        %th T
        %th W
        %th R
        %th F 
  .skedge
    .s-block.blu{style:course_style("m",0,2,!side)}
      %p MTH 150
    .s-block.org{style:course_style("t",1,3,!side)}
    .s-block.grn{style:course_style("w",2.666,4.6666,!side)}
    .s-block.prp{style:course_style("f",3.5,5.5,!side)}
    %table.table.table-condensed.courses.schedule{:class=>(side ? "side" : "s-full")}
      %tbody
        -16.times do |t|
          %tr.schedule-row        
            %td
              .time
                =((t+8) % 12)+1
            %td
            %td
            %td
            %td