!!! 5
%html
  %head
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title skedge
    =stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    =javascript_include_tag "application", "data-turbolinks-track" => true
    =csrf_meta_tags
    :javascript
      $(document).ready(function () {
        #{load_schedule(@schedule, @side)}
        #{@side ? load_bookmarks(@schedule) : ""}
      });

  %body
    #main.container.top-margin
      =yield

  :javascript
    $('#render-time').html("#{(Time.now-@start_time).round(3)} seconds.");