!!! 5
%html
  %head
    %title skedge
    =stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    =javascript_include_tag "application", "data-turbolinks-track" => true
    =csrf_meta_tags
    :javascript
      $(document).ready(function () {
        #{load_schedule(@schedule, @side)}
      });

  %body
    #main.container
      =yield

  :javascript
    $('#render-time').html("#{(Time.now-@start_time).round(3)} seconds.");