!!! 5
%html
  %head
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    -if @schedule && @schedule.image_file_name
      %meta{property:"og:image", content:"http://skedgeur.com/#{@schedule.image.url}"}
      %meta{property:"og:title", content:"Spring 2013 Schedule"}
      %meta{property:"og:description", content:"#{@schedule.sections_description}"}
    %title skedge
    =stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    =javascript_include_tag "application", "data-turbolinks-track" => true
    =csrf_meta_tags

  %body
    #main.container.top-margin
      =yield
    -if @schedule && @schedule.image_file_name
      %img{src:"http://skedgeur.com#{@schedule.image.url}", style:"display:none;"}

  :javascript
    $('#render-time').html("#{(Time.now-@start_time).round(3)} seconds.");