-content_for :content do
  .row
    =react_component 'SearchBar', query: @query, requests: current_user.try(:share_requests)

    .sk-fixed
      =react_component 'SideSchedule', yrTermMappings: reactify_yr_term_mappings(current_user.try(:schedules)),
                                       schedules: reactify_schedules(current_user.try(:schedules)),
                                       defaultSchedule: current_user.try(:last_schedule).try(:yr_term),
                                       bookmarks: reactify_courses(current_user.try(:bookmarked_courses))

    .col-sm-8.mobile-wider
      .page-content
        =react_component 'Social', visible: @social_visible, socialState: @social_state
        =yield


= render template: "layouts/application"