-content_for :content do
  .row
    =react_component 'SearchBar', query: @query

    .sk-fixed
      =react_component 'SideSchedule', yrTermMappings: reactify_yr_term_mappings(current_user.try(:schedules)),
                                       schedules: reactify_schedules(current_user.try(:schedules)),
                                       defaultSchedule:current_user.try(:last_schedule).try(:yr_term)

    .col-sm-8.mobile-wider
      .page-content
        =react_component 'Facebook', visible: @facebook_visible
        =yield


= render template: "layouts/application"